body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
